@model JobPortal.Models.UserModel
@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>

    
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Registration</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-8">

                    @using (Html.BeginForm("NewUser", "User", FormMethod.Post, new
                    {
                        @class = "form-contact",
                        @novalidate = "novalidate"
                    }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserName, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control valid",
                                       @type = "text",
                                       @name = "name",
                                       @id = "name",
                                       @placeholder = "Enter Username",
                                       @onfocus = "this.placeholder = ''",
                                       @onblur = "this.placeholder = 'Enter Username'",
                                       @required = "true"
                                   }
                               })

                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Password, new
                                {
                                      htmlAttributes = new
                                      {
                                          @class = "form-control valid",
                                          @type = "password",
                                          @name = "password",
                                          @id = "password",
                                          @placeholder = "Enter Password",
                                          @onfocus = "this.placeholder = ''",
                                          @onblur = "this.placeholder = 'Enter Password'",
                                          @required = "true"
                                      }
                                 })

                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control valid",
                                       @type = "email",
                                       @name = "email",
                                       @id = "email",
                                       @placeholder = "Enter Email",
                                       @onfocus = "this.placeholder = ''",
                                       @onblur = "this.placeholder = 'Enter Email'",
                                       @required = "true"
                                   }
                               })

                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.ContactNo, new
                                {
                                      htmlAttributes = new
                                      {
                                          @class = "form-control valid",
                                          @type = "tel",
                                          @name = "contact",
                                          @id = "contact",
                                          @placeholder = "Enter Contact No",
                                          @onfocus = "this.placeholder = ''",
                                          @onblur = "this.placeholder = 'Enter Contact No'",
                                          @required = "true"
                                      }
                                 })

                                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <p>
                                    Are you a job provider?
                                    @Html.EditorFor(model => model.AreYouProvider)
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6" id="divcompanyname">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Company.CompanyName, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "text",
                                   @name = "companyname",
                                   @id = "companyname",
                                   @placeholder = "Enter Company Name",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder = 'Enter Company Name'"
                               }
                           })

                                @Html.ValidationMessageFor(model => model.Company.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6" id="divcompanyphoneno">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Company.PhoneNo, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "tel",
                                   @name = "phoneno",
                                   @id = "phoneno",
                                   @placeholder = "Enter Company Phone No",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder = 'Enter Phone No'"
                               }
                           })

                                @Html.ValidationMessageFor(model => model.Company.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6" id="divcompanyemail">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Company.Email, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "tel",
                                   @name = "phoneno",
                                   @id = "phoneno",
                                   @placeholder = "Enter Company Email",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder = 'Enter Company Email'"
                               }
                           })

                                @Html.ValidationMessageFor(model => model.Company.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12" id="divcompanydescription">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Company.Description, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "tel",
                                   @name = "phoneno",
                                   @id = "phoneno",
                                   @placeholder = "Enter Company Description",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder = 'Enter Company Description'"
                               }
                           })

                                @Html.ValidationMessageFor(model => model.Company.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Register" class="button button-contactForm boxed-btn" />
                        </div>
                    }
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>GSD Complex, Jalgaon.</h3>
                            <p>Maharashtra, 425001</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+91 7822036730</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>gangradevinayak3@gmail.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/assets/jquery-3.7.1.min.js"></script>


<script>
    $(document).ready(function () {
        $("#divcompanyname").hide();
        $("#divcompanyphoneno").hide();
        $("#divcompanyemail").hide();
        $("#divcompanydescription").hide();
        $("#AreYouProvider").change(function () {
            if (this.checked) {
                $("#divcompanyname").show();
                $("#divcompanyphoneno").show();
                $("#divcompanyemail").show();
                $("#divcompanydescription").show();
            } else {
                $("#divcompanyname").hide();
                $("#divcompanyphoneno").hide();
                $("#divcompanyemail").hide();
                $("#divcompanydescription").hide();
            }
        });
    });
</script>